<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/cars">Cars</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div style="margin-left: auto;height: 100%;" class="d-flex align-items-center mb-0 pb-0">
        <a href="/cars/new" class="btn btn-success mb-0 me-2">+Add car</a>
        <button class="btn btn-outline-danger mb-0" onclick="signOut()">Log out</button>
      </div>
    </div>
  </div>
</nav>


<script>
  function signOut() {
   localStorage.clear();
   window.location.reload();
  }
</script>